<div style="width: 100%; height: 100%; left: 0px; top: 0px; background-color: rgb(48, 48, 48); color: rgb(255, 255, 255);">
    <label style="position: absolute; left: 5px; top: 4px; width: 16px; height: 16px; background-image: url(&quot;Framework/afc/image/dock_win_icon.png&quot;);"> </label>
    <label style="position: absolute; left: 26px; top: 6px; min-width: 100px; overflow: hidden;">Label</label>
    <button class="frm_title_btn" style="width: 16px; height: 16px; right: 59px; top: 3px; background-image: url(&quot;Framework/afc/image/min_win.png&quot;);"></button>
    <button class="frm_title_btn" style="width: 16px; height: 16px; right: 41px; top: 3px; background-image: url(&quot;Framework/afc/image/min_win.png&quot;); "></button>
    <button class="frm_title_btn" style="width: 16px; height: 16px; right: 23px; top: 3px; background-image: url(&quot;Framework/afc/image/max_win.png&quot;); "></button>
    <button class="frm_title_btn" style="width: 16px; height: 16px; right: 5px; top: 3px; background-image: url(&quot;Framework/afc/image/close_win.png&quot;);"></button>
</div>